@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: myFirstFont1;
  src: url(../fonts/New%20folder/Roboto-Black.ttf);
  font-weight: normal;
}
.ad1
{
	font-family: myFirstFont1;
}

@font-face {
  font-family: myFirstFont2;
  src: url(../fonts/New%20folder/Roboto-Medium.ttf);
 
}


.font-one{font-size:160%;}


.ad2
{
	font-family: myFirstFont2;
}

@font-face {
  font-family: myFirstFont3;
  src: url(../fonts/New%20folder/Roboto-Bold.ttf);
  
}
.ad3
{
	font-family: myFirstFont3;
}

@font-face {
  font-family: myFirstFont4;
  src: url(../fonts/New%20folder/Roboto-Light.ttf);
  
}
.ad4
{
	font-family: myFirstFont4;
}


.carousel {
  background:#007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

.special{width:100%;}
/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}


.social-icon li a
{
	color:#242f47;
}
.social-icon li a:hover
{
	color:#2daae1;
}



#content {
  position: absolute;
  height: 50px;
  width: 150px;
  margin-left: 45%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: none;
  color: #fff;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}





.navbar-light .navbar-nav .nav-link {
    color: #fff;
	border-bottom: 1px solid #242f47;
	
    
}

.navbar
{
	padding: 8px 8px;
}
.navbar-light .navbar-nav .active > .nav-link
{
	color: #fff;
	border-bottom: 1px solid #fff;
	
	
	
}
.navbar-light .navbar-nav .nav-link
{  transition: all 0.4s;
	
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
	border-bottom: 1px solid #fff;
	
	
}
.navbar-expand-md .navbar-nav .nav-link
{
	padding: 10px 10px;
}







.ban1-bt
{
    background: #242f47; 
    padding:10px 30px;
    border: 1px solid #242f47;
    color:#fff;
    box-shadow: 0 0 5px #ccc;
    -webkit-transform-origin: 100% 100%;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 100px 0px 0 0 #242f47 inset , -100px 0px 0 #242f47 inset;
}
.ban1-bt:hover{
    -webkit-box-shadow: 0px 0px 0 0 #242f47 inset , 0px 0px 0 #242f47 inset;
	background:#fff;
	color:#242f47;
}

.sec1-bt1
{
	color:#000;
	border:1px solid #000;
	background-color:transparent;
	padding:10px 15px;
}

.sec1-bt1:hover
{
	color:#fff;
	background-color:#000;
}

.sec1-bt2
{
	color:#fff;
	border:1px solid #000;
	background-color:#000;
	padding:10px 15px;
}

.sec1-bt2:hover
{
	color:#000;
	background-color: transparent;;
}




.ban2-bt
{
    padding: 10px 30px;
	background-color: transparent;
	border: 1px solid #fff;
	color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #fff  inset;
}
.ban2-bt:hover
{
    box-shadow:0 0 0 25px #242f47 inset;
    -webkit-transform: scale(1);
	color:#fff;
	border: 1px solid #242f47;
}


.text-box
{
	border: 1px solid #c4c7cd;
	box-shadow: 0 5px 15px 0 #AAA;
	border-radius: 15px;
}

.text-box:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid #242f47;
  box-shadow: 0 10px 29px 0 #AAA;
  transition: all 0.3s ease-in-out;
}

.ban3-bt{
    
    background-color: #242f47;
    border: 1px solid #242f47;
    color:#fff;
	padding: 10px 30px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow:0px 0px 0 100px #242f47 inset;
}
.ban3-bt:hover{
    -webkit-box-shadow:0px 0px 0 0px #fff inset;
    -webkit-transform: scale(1);
	background-color: transparent;
	border: 1px solid #fff;
	
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #242f47;
  opacity:80%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: transparent;
}

.hovereffect p {
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover p {
  -webkit-transform: translateY(145px);
  -ms-transform: translateY(145px);
  transform: translateY(240px);
}


.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;

}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
background-color: transparent;
}



@media only screen and (max-width:768px){
		.hovereffect:hover p {
  -webkit-transform: translateY(145px);
  -ms-transform: translateY(145px);
  transform: translateY(280px);
}
	}

@media only screen and (max-width:321px){
		.hovereffect:hover p {
  -webkit-transform: translateY(145px);
  -ms-transform: translateY(145px);
  transform: translateY(200px);
}
	}





.hovereffect2 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  
  cursor: default;
}

.hovereffect2 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #242f47;
  opacity:90%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect2:hover .overlay {
  background-color: transparent;
}






.ftr-nav li a
{
	color:#fff;
}

.ftr-nav li a:hover
{
	color:#2daae1;
	text-decoration:none;
}

.bt-frm
{
    background: transparent;
    padding: 5px 20px;
    border: 1px solid #fff;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
}
.bt-frm:hover
{
    box-shadow:180px 0 0 #CF6 inset;
	color:#26363a;
}



.hovereffect3 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  
}



.hovereffect3 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: transparent;
  top: -230px;
  opacity: 80%;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  
}

.hovereffect3:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 30%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.fr2-bt
{
	padding: 8px 15px;
	border:1px solid #fff;
	background-color:transparent;
	color:#fff;
}

.fr2-bt:hover
{
	background-color:#fff;
	color:#242f47;
}

@media only screen and (max-width:321px){
	
	.hovereffect3:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 15%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
	
}

.fr1-bt
{
	padding: 8px 45px;
	border:1px solid #d4b79b;
	background-color:transparent;
	color:#d4b79b;
}

.fr1-bt:hover
{
	border:1px solid #242f47;
	background-color:#242f47;
	color:#fff;
	transition:all .4s linear;
}

.frt-bt{
    
    background-color: #242f47;
    border: 1px solid #242f47;
    color:#fff;
	padding: 10px 30px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow:0px 0px 0 100px #242f47 inset;
}
.frt-bt:hover{
    -webkit-box-shadow:0px 0px 0 0px #fff inset;
    -webkit-transform: scale(1);
	background-color: #d4b79b;
	border: 1px solid #fff;
	
}



.adrs-icon li a
{
	
	color: #fff;
	background:#242f47;
	height: 50px;
	width: 50px;
	border-radius: 40px;
	text-align: center;
	line-height: 47px;
	display: inline-block;
	
}

.adrs-icon li a:hover
{
	background: #fff;
	color: #242f47;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 47px;
	display: inline-block;
	border-radius: 40px;
}

  
.bt-cont-frm

{
    background:#242f47;
    padding: 10px 20px;
    border: 1px solid #fff;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
}

.bt-cont-frm:hover
{
    box-shadow:180px 0 0 #CF6 inset;
	color:#26363a;
}




.search-form {
  height: 50px;
  width: 30%;
}




.abt-bt1
{
	color:#292038;
	border:1px solid #000;
	background-color: transparent;
	padding:10px 15px;
}

.abt-bt1:hover
{
	color:#fff;
	background-color:#000;
}























